<!DOCTYPE html>
<html lang="en">
  <head></head>

  <body style="font-size:20px; padding:50px; background-color:lemonchiffon">

    <% include ../views/partial/_header %>

    <form action="/urls" method="GET" style="margin:150px;">

      <label for="longURL">Edit your URL:</label>

      <input id="longURL" type="text" name="longURL" style="width: 300px">

      <input type="submit" value="Edit">

    </form>
  </body>
</html>
