<!DOCTYPE html>
<html lang="en">
<head><% include ../views/partial/_header %></head>
<body style="font-size:20px; padding:50px; background-color:lemonchiffon">
    <header style="font-size:30px">List of URLs:</header>
    <br/>
    <main>
        <div>
            <%include ../views/urls_show %>
        </div>
    </main>
</body>
</html>
