<!DOCTYPE html>
<html lang="en">
  <head>
    <h1 style="text-align:center; font-size:50px">URL shortener</h1>
  </head>
  <body style="font-size:20px; padding:50px; background-color:lemonchiffon">
    <form action="/register" method="POST" style="margin:150px;">
      <header style="font-size:30px"><b>Create user:</b></header>

      <label for="username">Enter your username:</label>

      <input id="username" type="text" name="username" style="width: 300px">

      <input type="submit" value="Create">

    </form>
  </body>
</html>
